export(install_uvr)
export(update_pkgs)
export(update_uvr)
export(init)
export(add)
export(remove_pkgs)
export(sync)
export(lock)
export(run)
export(r_install)
export(r_list)
export(r_use)
export(r_pin)
